#results-display {

    .aqf {
        /*list-style-image: url('../images/TFR-Aquifer-Bullet.svg');*/

    }

    .tfr {
        /*list-style-image: url('../images/TFR-Bird-Bullet.svg');*/

    }

    ul {

        li {

            list-style: none;

            span {
                margin: 5px;
            }

            img {
                height: 1em;
                width: auto;
                margin-right: 5px;
            }
        }
    }
}
